body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin: 0px;
}

p {
    margin: 0;
}

button {
    outline: none;
    border: none;
    border-radius: 0;
    color: #fff;
    font-size: 36px;
    background: #19c276;
    padding: 15px 50px;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    background: #42d492;
}

/* APP */
.main {
    margin-top: 150px;
}

.highscores > h2 {
    font-size: 36px;
    margin: 0;
    margin-top: 50px;
    font-weight: normal;
}

.highscores > h4 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 20px;
    font-weight: normal;
    color: #888;
}

.highscores > p {
    font-size: 22px;
    margin: 0px;
    margin-bottom: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.highscores > p > span {
    font-size: 14px;
    color: #888;
    margin-right: 20px;
}

/* TEXT */
.text {
    font-size: 24px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    outline: none;
}

.text > span{
    color: gray;
}
.text > span.current {
    color: white;
    background-color: #000;
}
.text > span.correct {
    color: green;
}
.text > span.wrong {
    color: red;
    border-bottom: 3px solid red;
}

/* INFO */
.streak-message {
    display: block;
    margin: 50px auto;
    padding: 0px 50px;
    background-color: #18cc7e;
    color: white;
    font-size: 36px;
    height: 80px;
    line-height: 80px;
    width: 400px;
    animation: blinker 1s ease infinite;
}

@keyframes blinker {
    50% {
        opacity: 0.7;
    }
}

.time {
    margin-top: 80px;
    font-size: 30px;
}

.score {
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
}

.streak {
    font-size: 20px;
}

/* GRAPH */
.performance {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 400px;
    width: 415px;
    overflow: hidden;
    margin: 50px auto 0px auto;
}

.performance > div {
    width: 30px;
    margin-left: 5px;
    background-color: #00b1ff;
    animation: expand 0.3s ease-out;
    flex-shrink: 0;
}

@keyframes expand {
    from {
        width: 0px;
        margin-left: 0px;
    }
    to {
        width: 30px;
        margin-left: 5px;
    }
}