body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin: 0px;
}

p {
    margin: 0;
}

button {
    outline: none;
    border: none;
    border-radius: 0;
    color: #fff;
    font-size: 36px;
    background: #19c276;
    padding: 15px 50px;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    background: #42d492;
}

h2 {
    font-size: 36px;
    margin: 0;
    margin-top: 50px;
    font-weight: normal;
}

/* APP */
.main {
    margin-top: 150px;
}

.highscores > h4 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 20px;
    font-weight: normal;
    color: #888;
}

.highscores > p {
    font-size: 22px;
    margin: 0px;
    margin-bottom: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.highscores > p > span {
    font-size: 14px;
    color: #888;
    margin-right: 20px;
}

/* TEXT */
.sentence {
    margin: 0 auto;
    margin-top: 150px;
    font-size: 24px;
    width: 80%;
    text-align: center;
    outline: none;
}

.sentence > span{
    color: gray;
}
.sentence > span.current {
    color: white;
    background-color: #000;
}
.sentence > span.correct {
    color: green;
}
.sentence > span.wrong {
    color: red;
    border-bottom: 3px solid red;
}

/* INFO */
.time {
    margin-top: 80px;
    font-size: 30px;
}

.score {
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
}
